<!DOCTYPE <html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{title}} | Shopping Cart </title>
    
            <!-- Include Bootstrap Files -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    
        </head>
        <body>

            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
    
                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
    
                    <!-- Branding Image -->
                    <a class="navbar-brand" href="{{ url_for('dashboard.homepage') }}">
                        Shopping App
                    </a>
                </div>
    
                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>
                    
                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('dashboard.homepage') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            <li><a><i class="fa fa-user"></i>  {{ current_user.username }}!</a></li>

                            {%else%}
                
                            <li><a href="{{ url_for('dashboard.homepage') }}">Home</a></li>
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                            {%endif%}
                        </ul>
                </div>
                  
                </div>
              </nav>
        <div class="content">
            {% block body %}
            {% endblock %}

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>